@meta charset="utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

*{margin:0; padding:0; box-sizing:border-box;}
html,body{height:100%; font:0.8em 'Nanum Gothic',sans-serif; color:#666;}
a{text-decoration:none; font-size:0.8em; color:#666;}
img{vertical-align:bottom;}
ul li{list-style:none;}
	table,td,th{border-collapse:collapse; text-align:center;}
/**********************기본세팅***************/
#wrap{max-width:480px; margin: 0 auto; margin-bottom:150px;}
h1{text-align:center;}
select{padding-left:15px; outline-color:green;}

#go_home{display:block; width:35%; margin:50px auto;}
fieldset{border:none; margin-top:30px;}
dt{font-size:1.12em; margin-top:20px; }
dd{margin-top:10px;}
.textbox{width:100%; height:50px; line-height:50px; padding-left:15px; outline-color:green;}
/* #userId{border:1px solid red;}
.id_box>#idcheck_but{padding:10px 20px;} */

#userid{width:70%;}
#idcheck_but{display:block;width:28%; margin-left:2%; height:50px; float:right; background:#4a624e; border:none; color:#fff; cursor:pointer;}
#sex{width:100%; height:50px; line-height:50px;}

.birth{width:32%; height:50px; line-height:50px; margin-right:2%;}
.birth:nth-child(3){margin:0;}
.email_title{display:inline-block; font-size:0.9em; margin-top:5px;}
.email_ttbox{display:inline-block; padding-left:20px;}
.email_ttbox label{margin-right:20px;}
.email_ttbox input{vertical-align:middle; margin:-1.5px 2px 0 0;}

#country_code{width:100%; height:50px; line-height:50px;}

#number_box1{width:60%; }
#number_box2{display:block; width:38%; height:50px; line-height:50px; float:right;  background:#4a624e; border:none; color:#fff; cursor:pointer;}

#phone_check{outline-color:green;  border:none; background:#f7f7f7; border:1px solid #ddd;}
p input{width:100%; height:60px; line-height:50px; background:#4a624e; border:none; color:#fff; margin:40px 0; font-size:1.4em; font-weight:600; cursor:pointer;}
