@meta charset="utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&subset=korean');

*{margin:0; padding:0; box-sizing:border-box;}
html,body{height:100%; font:0.8em 'Nanum Gothic',sans-serif; color:#666;}
a{text-decoration:none; font-size:0.8em; color:#666;}
img{vertical-align:bottom;}
ul li{list-style:none;}
	table,td,th{border-collapse:collapse; text-align:center;}

#wrap{width:100%; margin-bottom:80px;}
div.title{width:50%; margin:0 auto; margin-top:160px;}
div.title h1{font-size:3em;}
#wrap ul.im_tap_sub{overflow:hidden;}
#wrap ul.im_tap_sub li{float:left;}
#wrap ul.im_tap_sub li a{display:block; padding:0 5px; font-size:1.025em;}
#wrap .search{width:30%; margin:2% 22.5% 2% auto; text-align:center; overflow:hidden; }
#wrap .search select{width:40%; display:block; float:left; padding:5px 10px; height:30px; border-radius:20px; border:1px solid #ddd;  outline:none;}
#wrap .search input{width:60%; display:block; float:left;  padding: 5px 10px; height:30px; border-radius:20px; border:1px solid #ddd; outline:none;}

#news_section_wrap{width:55%; margin:0 auto; clear:both;}
#news_section_wrap ul{width:100%;}
#news_section_wrap ul li{overflow:hidden;}

#wrap div.news_zone{width:100%; height:150px; padding: 10px 40px; float:left; position:relative;}
#wrap div.grayzone{background:#fafafa;}

#wrap div.news_tn{width:70%; position:absolute; top:50%; transform:translateY(-50%); border-right:1px solid #ddd;padding-right:5%;}
#wrap div.news_zone h2{width:100%; font-size:2em; padding-top:10px;}
#wrap div.news_zone p{width:100%; font-size:1.2em; margin-top:10px;}

#wrap span.detailbtn{display:block; font-size:1.4em; float:left; width:15%; background:#4a624e; color:#fff; text-align:center; padding:10px 0; border-radius:20px; position:absolute; right:5%; top:50%; transform:translateY(-50%);}

.list_item > li{display:none; overflow:hidden;}
.list_item > li.on{display:list-item;  overflow:hidden;}
div.pagerbtn_wrap{margin-top:20px; text-align:center;}
div.pagerbtn_wrap p.pager_no{display:inline-block; width:50px;font-size:1.25em;}
p.pager_no span{}
button.pagebtn{width:40px; height:20px; background:none; border:1px solid #ddd; border-radius:10px; cursor:pointer; outline:none;}


.modal-overlay {
	z-index:300;
	background:rgba(0, 0, 0, 0.25);
}

.modal-wrapper {
	z-index:310;
	background:#fff;
	border-radius:15px;
	-webkit-box-shadow:0 0 15px rgba(0, 0, 0, 0.25);
	   -moz-box-shadow:0 0 15px rgba(0, 0, 0, 0.25);
	        box-shadow:0 0 15px rgba(0, 0, 0, 0.25);
	overflow:auto;
}
.modal-wrapper::-webkit-scrollbar {display:none;}

	.modal-content {
		padding:5em 1em 1em;
	}
	.modal-close {
		position:absolute;
		top:.5em;
		left:50%;
		transform:translateX(-50%);
		z-index:320;
		font-size:1.25em;
		cursor:pointer;
	}