@meta charset="utf-8";

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

*{margin:0; padding:0; box-sizing:border-box;}
html,body{min-width:1680px; height:100%; font:0.8em 'Nanum Gothic',sans-serif; color:#666;}
a{text-decoration:none; font-size:0.8em; color:#666;}
img{vertical-align:bottom;}
ul li{list-style:none;}
	table,td,th{border-collapse:collapse; text-align:center;}
	
div.intro-video{ 
margin-top:80px;
     position: absolute;
     top:-20%;
     left: 0px;
     min-width: 100%;
     min-height:80%;
     width: auto;
     height: auto;
     z-index: -1000;
     overflow: hidden;
}

.intro-video video, .intro-video object, .intro-video embed{position:absolute; top:0; left:0; width:100%; } 
	
	
	
div.product{
	width:100%; 
	border:0px solid red; 
	box-sizing:border-box; 
	overflow:hidden; 
	margin:30% auto 0 auto; 
	text-align:center;}

p.product_title{
	font-size:3em; 
	text-align:center; 
	border:0px solid green; 
	overflow:hidden; 
	margin:0 auto; 
	margin-top:200px;
	color:#333;}
	
		p.title_text{
			font-size:1.5em; 
			letter-spacing:1px; 
			text-align:center; 
			margin-top:30px; 
			border:0px solid blue;}


	div.category{
		width:75%; 
		
		margin:0 auto; 
		border:0px solid gray;}
		
p.im_best_item_text{
				font-size:1.4em;
				text-align:left;
				margin:100px 0 10px;}
			
section.best_img{
				width:100%; 
				margin:0 auto; 
				opacity:0;
				
}
section.best_img.on{
		animation:bestitem 1.2s ease forwards;
-webkit-animation:bestitem 1.2s ease forwards;
	}
@keyframes bestitem{
	0%{
		opacity:0;
		transform:translateY(70%);
	}
	10%{opacity:1;}
	100%{
		opacity:1;
		transform:translateY(0%);
	}
}
@-webkit-keyframes bestitem{
	0%{
		opacity:0;
		-webkit-transform:translateY(70%);

	}
	10%{opacity:1;}
	100%{
		opacity:1;
		-webkit-transform:translateY(0%);
	}
}

div.img1,div.img3{padding-right:10px;}
div.img2,div.img4{padding-left:10px;}

div.best_pd_im a{display:block; position:relative;}
div.best_pd_im span{display:block; width:20%; padding:10px 8px; border:1px solid #106041; border-radius:20px; font-size:1.4em; position:absolute; left:40%; top:86%; opacity:0; transition:all 0.5s ease;}
div.best_pd_im img{width:100%; vertical-align:bottom;}
div.best_pd_im a:hover span{top:81%; opacity:1;  color:#106041; background:rgba(255,255,255,0.5); transition: all 0.5s ease;} 
div.best_pd_im a span:hover{background:#106041; color:#fff; }

div.img2{
	width:49%; 
	border:0px solid green; 
	overflow:hidden; 
	box-sizing:border-box;
	float:left;
}
.best_img .slick-prev{left:-5%; top:50%; 
transform:translateY(-50%); -webkit-transform:translateY(-50%); 
}
.best_img .slick-next{right:-5%;top:50%;
transform:translateY(-50%); -webkit-transform:translateY(-50%);
}


.best_img .slick-dots li button:hover:before,
.best_img .slick-dots li button:focus:before{
	opacity:1;
}
.best_img .slick-dots li button:before
{
color:green;
}
.best_img .slick-dots li.slick-active button:before
{
    opacity: .75;
    color: green;
}

div.cate_img{
	width:100%;
	margin-top:125px;

}


div.cate_imgbox{width:25%; float:left; position:relative; left:0; top:0; overflow:hidden; 	opacity:0;}
div.cate_imgbox p{width:100%; font-size:1.4em; font-weight:700; padding:30px 0;  position:absolute; left:0; top:0;}
div.cate_imgbox.on{
		animation:bestitem 1.2s ease forwards; 
-webkit-animation:bestitem 1.2s ease forwards;
}
div.cate_imgbox:nth-child(1){
	animation-delay:0.2s;
-webkit-animation-delay:0.2s;
	}
div.cate_imgbox:nth-child(2){
	animation-delay:0.3s;
-webkit-animation-delay:0.3s;
	}
div.cate_imgbox:nth-child(3){
	animation-delay:0.4s;
-webkit-animation-delay:0.4s;
	}
div.cate_imgbox:nth-child(4){
	animation-delay:.5s;
-webkit-animation-delay:.5s;
	}

	div.cate_img img{width:100%; vertical-align:bottom; 
		transition:transform 0.1s ease-in-out;
-webkit-transition:transform 0.1s ease-in-out;}
	div.cate_img img:hover{
		border:1px solid #ddd; box-sizing:border-box; 
		transform:scale(1.1); 
		transition: all 0.7s ease-in-out;
-webkit-transform:scale(1.1); 
-webkit-transition: all 0.7s ease-in-out;
		}

			
#home{
	width:100%; 
	overflow:hidden;
	background:#ececec; 
	margin-top: 125px; 
	border:0px solid black; 
	box-sizing:border-box;}
#home img{width:100%; vertical-align:bottom;}
#home p.home_title{
		font-size:2.4em; 
		text-align:center; 
		padding-top:70px;
}
#home p.title_text{
		font-size:1.4em; 
		line-height:1.5; 
		text-align:center; 
		padding-top:10px;
}
#home_img{
		width:75%; 
		overflow:hidden;
		margin:0 auto 100px auto; 
		margin-top:70px; 
		border:1px solid #ddd;
		background:#fff;
		text-align:center;}	
		
		
	.home_bg img{width:100%; height:100%;}
	.home_bg{min-width:33.333%; height:264px; float:left; position:relative; opacity:0;}
	.home_bg.on{
		animation:bestitem 1.2s ease forwards;
-webkit-animation:bestitem 1.2s ease forwards;
	}
	.home_at_bg2.on{animation-delay:.5s;}
	.home_at_bg3.on{animation-delay:.3s;}
	div.home_at_bg2{margin-top:264px; }
	.home_bg div.rotateslide{opacity:1; position:absolute; left:0; top:0; right:0; bottom:0;}
	.home_bg div.rotateslide:nth-child(2){opacity:0; background:red;}
	.home_bg:hover div.rotateslide{opacity:0.3; transition:1s ease; -webkit-transition:1s ease;}
	.home_bg:hover div.rotateslide:nth-child(2){opacity:0.8; transition:1s ease; -webkit-transition:1s ease;}
	
	
	.home_bg p{position:absolute; left:50%; top:100%; transform:translateX(-50%);font-size:1.2em; line-height:25px; padding-top:50px;}
	div.home_at_bg2 p{top:-100%;}
	.home_bg p span{display:inline-block; font-size:1.4em; font-weight:700;  margin-bottom:15px; padding-bottom:5px; border-bottom:2px solid #ececec; }

	.home_bg p .inner_line{width:2px; height:50px; border:1px solid gray; position:absolute; left:50%; top:-20px;}
	.home_bg p  span.line{left:50%; top:230px;}
	
	
	
#find_store_wrap{width:100%; background:url(../img/product_main/life.jpg) no-repeat center center; background-size:cover; background-attachment:fixed;}
.store_select_wrap{width:40%; overflow:hidden; margin:0 auto; text-align:center; padding-top:150px;}
#find_store_wrap h1{text-align:center; margin-bottom:20px;  font-size:2.4em; color:#fff;/* position:relative; right:25%; top:60px;  transform:rotate(90deg); */}
#store_selec{display:block; float:left; width:49.5%;  margin-right:1%;margin-bottom:150px; padding:10px 0;}
#store_selec:nth-child(3){margin:0;}
/* #submit_btn{display:block; float:left; width:10%; padding:10px 0; border:none; background:green; } */

	